{% for data in tableau %}
    <tr>
        <th scope="row">{{ data.nom }}</th>
        <th scope="row">{{ data.dateHeureDebut|date('d/m/Y H:i')}}</th>
        <th scope="row">{{ data.dateLimiteInscription|date('d/m/Y')}}</th>
        <th scope="row">{{ data.nbInscrits~'/'~data.nbInscriptionMax }}</th>
        <th scope="row">{{ data.etat }}</th>
        <th scope="row">{{ data.inscrit }}</th>
        <th scope="row"><a href="#">{{ data.organisateur }}</a></th>
        <th scope="row">
            {% if data.etat == 'Ouverte' %}
                <a href="#">Annuler</a>
                {% if data.inscrit != 'X' %}
                    <a href="{{ path('app_home_inscrire', { idSortie: data.id}) }}"
                       onclick="return confirm('Etes vous vraiment sûr de vouloir vous inscrire a cette sortie : {{ data.nom }} ?')">
                        S'inscrire
                    </a>
                {% endif %}
            {% endif %}
            {% if data.etat == 'Créée' %}
                <a href="#">Modifier</a>
            {% endif %}
            {% if data.inscrit == 'X' %}
                <a href="{{ path('app_home_desister', { idSortie: data.id}) }}"
                   onclick="return confirm('Etes vous vraiment sûr de vouloir vous désister de la sortie {{ data.nom }} ?')">
                    Se Désister
                </a>
            {% endif %}
            <a href="{{ path('app_sortie_detail', { id: data.id}) }}">Afficher</a>
        </th>
        <th scope="row">{{ data.site }}</th>
    </tr>
{% endfor %}
