{% extends 'base.html.twig' %}
{% block page_js %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
{% block title %}Home!{% endblock %}
{% block body %}
<div>
    <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
    <p>Participant : {{  app.user.prenom }} {{ app.user.nom|slice(0, 1) }}.</p>
    <label for="filtreSite">Site&nbsp;:</label>
    <select name="" id="filtreSite">
        <option value="">Choississez un site</option>
        {% for site in sites %}
                <option value="{{ site.id }}">{{ site.nomSite }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <label for="inputSearch">Le nom de la sortie contient&nbsp;:</label>
    <input type="text" id="inputSearch">
    <br>
    <br>
    <label for="inputDateDebut">Date comprise entre&nbsp;:</label>
    <input type="date" id="inputDateDebut">
    <label for="inputDateFin">et</label>
    <input type="date" id="inputDateFin">
    <br>
    <br>
    <div>
        <label>
            <input type="checkbox" id="filtreOrganisateur" name="organisateur">
            <span> Sorties dont je suis l'organisateur/trice</span>
        </label><br>

        <label>
            <input type="checkbox" id="filtreInscrit" name="inscrit">
            <span> Sorties auxquelles je suis inscrit/e</span>
        </label><br>

        <label>
            <input type="checkbox" id="filtreNonInscrit" name="nonInscrit">
            <span> Sorties auxquelles je ne suis pas inscrit/e</span>
        </label><br>

        <label>
            <input type="checkbox" id="filtrePassees" name="passees">
            <span> Sorties passées</span>
        </label><br>
    </div>
    <br>
    <table>
        <thead>
            {% include 'home/_thead.html.twig' %}
        </thead>
        <tbody id="tabHome">
            {% include 'home/_tbody.html.twig' %}
        </tbody>
    </table>
</div><br>
{% endblock %}
