{% extends 'base.html.twig' %}
{% block page_js %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
{% block title %}Home!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
{% block body %}
<div>
    <div class="div_info_user">
        <p>Date du jour : {{ "now"|date('d/m/Y') }}</p>
        <p>Participant : {{  app.user.prenom }} {{ app.user.nom|slice(0, 1) }}.</p>
    </div>
    <div class="filters-container">
        <div class="filter-row">
            <label for="filtreSite">Site :</label>
            <select id="filtreSite">
                <option value="">Choississez un site</option>
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.nomSite }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-row">
            <label for="inputSearch">Le nom de la sortie contient :</label>
            <input type="text" id="inputSearch">
        </div>

        <div class="filter-row">
            <label>Date comprise entre :</label>
            <input type="date" id="inputDateDebut">
            <span>et</span>
            <input type="date" id="inputDateFin">
        </div>

        <div class="filter-checkboxes">
            <label><input type="checkbox" id="filtreOrganisateur"> Sorties dont je suis l'organisateur/trice</label>
            <label><input type="checkbox" id="filtreInscrit"> Sorties auxquelles je suis inscrit/e</label>
            <label><input type="checkbox" id="filtreNonInscrit"> Sorties auxquelles je ne suis pas inscrit/e</label>
            <label><input type="checkbox" id="filtrePassees"> Sorties passées</label>
        </div>
    </div>
    <table>
        <thead>
            {% include 'home/_thead.html.twig' %}
        </thead>
        <tbody id="tabHome">
            {% include 'home/_tbody.html.twig' %}
        </tbody>
    </table>
    <div class="btn-container">
        <a href="{{ path('app_sortie_create') }}" class="btn btn-dark">
            Créer une sortie
        </a>
    </div>
</div><br>
{% endblock %}

